.read-text-container{
    width: 100%;
    height: 85%;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    padding-top: 10px;
    padding-bottom: 60px;
    position: relative;
}
    .read-text-container .read-text{
        width: 100%;
        height: 100%;

        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        padding-left: 15px;
        padding-right: 15px;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        color: #465568;
    }
    .read-text-container .navigation-bar{
        width: 100%;
        height: 60px;
        /*background-color: #c2c0c0;*/
    }
        .read-text-container .navigation-bar .ok-btn{
            /*margin-right: -63px;
            right: 50%;*/
        }